<h1 class="text-center mt-4">Admin Dashboard</h1>

<!-- Form to clear user points and chapters -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <form action="/admin/clear-tables" method="POST" onsubmit="return confirm('Are you sure you want to clear all user points and chapters? This action cannot be undone.');">
                <button type="submit" class="btn btn-danger btn-lg">Clear User Points and Chapters</button>
            </form>
        </div>
        <div class="d-flex justify-content-center mt-4"></div>
        <a href="/admin/readers" class="btn btn-primary btn-lg w-100">View Readers</a> <!-- New button -->
    </div>
    <div class="d-flex justify-content-center mt-4"></div>
        <a href="/admin/userpoints" class="btn btn-primary btn-lg w-100">Edit Reader Points</a> <!-- New button -->
    </div>
    <div class="d-flex justify-content-center">
        <a href="/check-missed-points" class="btn btn-warning btn-lg w-100">Check for missed points.</a> <!-- Full-width button -->
    </div>
    </div>
</div>

<!-- Table to show users -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user) { %>
                            <tr>
                                <td><%= user.name %></td>
                                <td><%= user.truncatedEmail %></td>
                                <td><span class="badge badge-<%= user.role === 'admin' ? 'success' : 'secondary' %>">
                                    <%= user.role %></span></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
