<h2>Claim Your Points</h2>

<form action="/claim-points" method="POST">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Ch.</th>
                <th>Cycle</th>
                <th>Points</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% chapters.forEach(chapter => { %>
                <tr>
                    <td><%= chapter.chapter_id %></td>
                    <td><%= chapter.completion_cycle %></td>
                    <td><%= chapter.points %></td> <!-- Points column -->
                    <td>
                        <% if (!chapter.points_claimed) { %>
                            <button type="submit" name="chapters" value="<%= chapter.chapter_id %>" class="btn btn-success">Claim</button>
                        <% } else { %>
                            <button type="button" class="btn btn-secondary" disabled>Claimed</button>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</form>
