<div class="container mt-5">
    <h1 class="text-center mb-4">Family Leaderboard</h1>

    <table class="table table-striped">
        <thead>
            <tr class="smallerSize">
                <th class="smallerSize" scope="col">#</th>
                <th class="smallerSize" scope="col">Family Name</th>
                <th class="smallerSize" scope="col">Total Points</th>
            </tr>
        </thead>
        <tbody>
            <% leaderboard.forEach(function(family, index) { %>
                <tr class="<%= index === 0 ? 'gold-row' : index === 1 ? 'silver-row' : index === 2 ? 'bronze-row' : '' %>"> <!-- Apply medal classes for top 3 rows -->
                    <td class="smallerSize"><%= index + 1 %></td>
                    <td class="smallerSize" style="font-size: 1em;">
                        <%= family.family_name %>
                    </td>
                    <td class="smallerSize"><%= family.total_points %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
    <!-- Styles for gold, silver, and bronze rows -->
    <style>
        .gold-row  {
            background-color: #FFD700 !important; /* Gold background */
            font-weight: bold;
        }
        .silver-row {
            background-color: #C0C0C0; /* Silver background */
            font-weight: bold;
        }
        .bronze-row {
            background-color: #CD7F32 !important; /* Bronze background */
            font-weight: bold;
        }
    </style>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
    <div class="text-center mt-4">
        <a href="/chapters-leaderboard" class="btn btn-primary">Chapters Leaderboard</a>
    </div>
    <div class="text-center mt-4">
        <a href="/leaderboard" class="btn btn-primary">Leaderboard</a>
    </div>
    <div class="text-center mt-4">
        <a href="/group-leaderboard" class="btn btn-primary">Group Leaderboard</a>
    </div>
</div>
