<div class="container mt-5">
    <h1 class="text-center mb-4">Leaderboard</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Reader Name</th>
                <th scope="col">Total Points</th>
            </tr>
        </thead>
        <tbody>
            <% leaderboard.forEach(function(reader, index) { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td style="font-size: 1.5em;"> <!-- Make the name larger -->
                        <!-- Profile Image with larger size -->
                        <img src="/ml<%= reader.current_level_id ? reader.current_level_id : 1 %>.webp" alt="Level Image" 
                             class="img-fluid rounded-circle" 
                             style="height: 50px; width: 50px; margin-right: 15px;"> <!-- Increased size -->
                        <%= reader.reader_name %>
                    </td>
                    <td><%= reader.total_points %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</div>
