<div class="container mt-4">
    <h1>Record by Book</h1>
    
    <form action="/record-by-book" method="post" id="recordBookForm">
        

        <div class="form-group">
            <label>Select Book(s):</label>
            <div class="form-check">
                <% books.forEach(function(book, index) { %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="bookName[]" id="book_<%= index %>" value="<%= book.book %>">
                        <label class="form-check-label" for="book_<%= index %>">
                            <%= book.book %>
                        </label>
                    </div>
                <% }); %>
            </div>
            <small class="form-text text-muted">Check the box next to each book you want to record.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Record Book(s)</button>
    </form>
    
</div>
<!-- Spinner HTML -->

<div id="loadingSpinner" class="spinner-overlay" style="display:none;">
    <div class="spinner-content">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!-- Include JavaScript at the end of the page -->
<script>

</script>